body {
    width: 1650px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(58, 77, 111);
}

img {
    height: 30px;
}

#marque {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-left: 5px;
}

nav {
    background: rgb(242, 230, 230);
    padding-top: 30px;
}

ul {
    list-style: none;
    font-size: small;
}

a {
    text-decoration: none;
    color: rgb(61, 58, 58);
}