* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 80px;
    align-items: center;
    background-color: rgb(221, 249, 247);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.2);
    padding-left: 130px;
    padding-right: 130px;
    color: rgb(22, 85, 56);
}

#logo-style {
    display: flex;
}

img {
    height: 30px;
    display: inline;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding-left: 40px;
}

a {
    text-decoration: none;
    color: rgb(22, 85, 56);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background: rgb(22, 85, 56);
    border-radius: 6px;
    border-color: rgb(22, 85, 56);
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: rgb(221, 249, 247);
    border-color: rgb(221, 249, 247);
    color: rgb(22, 85, 56);
}

#top-main {
    margin-bottom: 15em;
    text-align: center;
    padding-top: 15em;
}

h1 {
    font-size: 40px;
    margin-top: 3em;
    margin-bottom: 10px;
    color: rgb(22, 85, 56);
}

p {
    font-size: 12px;
    padding-top: 20px;
}

section {
    padding-left: 15em;
    padding-right: 15em;
    padding-top: 3em;
    padding-bottom: 3em;
}

h2, h3, p {
    color: rgb(58, 58, 58);
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-top: 30px;
}

.box {
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 6px;
}

h3 {
    padding-top: 15px;
}

.bg-color {
    background-color: rgb(221, 249, 247);
}

.case {
    border-style: dashed;
    border-color: rgb(170, 170, 170);
    background-color: white;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(103, 103, 103);
    text-align: center;
}

footer {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(221, 249, 247);
    height: 60px;
}

#foot-text {
    color: rgb(22, 85, 56);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

